services:
  otel-collector:
    image: ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib:0.109.0
    command: ["--config=/etc/otelcol-contrib/config.yaml"]
    user: "0"
    volumes:
      - ./otel-collector-config.yaml:/etc/otelcol-contrib/config.yaml:ro
      - ./otel-out:/var/otel-out
    expose:
      - "4317"
      - "4318"
      - "8889"
    ports:
      - "4317:4317"
      - "4318:4318"

  prometheus:
    image: quay.io/prometheus/prometheus:latest
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    expose:
      - "9090"
    ports:
      - "9090:9090"

  grafana:
    image: grafana-ol8:latest
    depends_on:
      - prometheus
    expose:
      - "3000"
    ports:
      - "3000:3000"

volumes:
  prometheus-data:
