receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch: {}

exporters:
  file/traces:
    path: /var/otel-out/traces.json
    format: json
  file/metrics:
    path: /var/otel-out/metrics.json
    format: json
  file/logs:
    path: /var/otel-out/logs.json
    format: json
  prometheus:
    endpoint: 0.0.0.0:8889

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [file/traces]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [file/metrics, prometheus]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [file/logs]
